$white: #fff;
$gray: #808080;
$base-color: #00514d;
$base-color-light: #36bfbb;
$light-backdrop-color: #eaeaea;
$info-block-color-1: #c61681;;
$info-block-color-2: #eb8d29;;
$info-block-color-3: #3176a5;;
